exportPattern("^[[:alpha:]]+")
import(tidyverse)
import(methods)
import(ggpubr)
import(xlsx)
import(ggsignif)
import(ComplexHeatmap)
import(pracma)
import(ensembldb)
import(EnsDb.Hsapiens.v86)
import(msa)
import(stringr)
import(ORFik)
import(GenomicFeatures)
import(data.table)
import(Biostrings)
import(parallel)
import(readr)
